*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 2px solid red; */
}

:root {
    --primary_color: #271F8C;
    --secondary_color: #0084F1;
    --title_color: #F9F9F9;

}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100vh;
}

.container {
    width: 100%;
    height: calc(100vh - 5.4rem);
    display: grid;
    place-items: center;
    padding: 2rem 0;
    /* border: 2px solid red; */
}

button {
    margin: 10px;
    padding: 10px 28px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: block;
    border: 0px;
    font-weight: 700;
    box-shadow: 0px 0px 14px -7px #f09819;
    background-image: linear-gradient(45deg, #FF512F 0%, #F09819 51%, #FF512F 100%);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

button:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

button:active {
    transform: scale(0.95);
}